<% if resource.errors.any? %>
  <div class="row justify-content-center m-1">
  <div class="alert alert-danger alert-dismissible fade show alert-width" role="alert">
      <% resource.errors.full_messages.each do |message| %>

      <%= message %><br>

      <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  </div>
<% end %>
