<div class="text-center mb-4">
  <h1 class="h3 mb-3 font-weight-normal">Редактирование события</h1>
</div>

<%= render 'form' %>

<% @event.photos.each do |photo| %>
  <div>
    <%= image_tag(photo.photo.thumb.url) %>
    <%= link_to(
          fa_icon('times'),
          event_photo_path(photo.event, photo),
          method: :delete,
          data: {confirm: t('confirm.are_you_sure')}
        ) %>
  </div>
<% end %>

<div class="form-signin mt-n4">
  <%= button_to t('event.destroy'), event_path(@event),
                data: { confirm: t('confirm.are_you_sure') }, method: :delete,
                class: "btn btn-sm btn-outline-danger" %>
</div>
