<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Событие твоей мечты</h1>
  <p class="lead">Начни прямо сейчас или присоединяйся к другим</p>
  <%= link_to 'Создать событие', new_event_path, class: 'btn btn-lg btn-outline-success' %>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <%= render partial: 'events/event', collection: @events %>
  </div>
</div>
